/* styles/DrinkCard.module.css */
.drinkCard {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

.drinkName {
  font-size: 2rem;
  margin-bottom: 10px;
}

.drinkDescription {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.ingredients, .instructions {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
  text-align: left;
}

.ingredientCard {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.ingredientName {
  font-weight: bold;
}

.ingredientAmount {
  color: #666;
}

.instructionStep {
  margin-bottom: 10px;
}

.stepNumber {
  font-weight: bold;
}

.stepInstruction {
  margin-left: 5px;
}
