/* Index.module.css */

/* General container styles */

.IndexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}


/* Header text style */
.header {
  margin-top: 20px;
}

/* Add styles for drink links */
.drinkLinks {
  margin-top: 10px;
}

.drinkLinks a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: blue;
}
