/* Index.module.css */

/* General container styles */

.IndexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}


/* Header text style */
.header {
  margin-top: 20px;
}

/* Add styles for drink links */
.drinkLinks {
  margin-top: 10px;
}

.drinkLinks a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: blue;
}
.fetchCheersButton {
  padding: 10px 20px;
  background-color: #333; /* Dark background to match drink card */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.fetchCheersButton:hover {
  background-color: #444; /* Slightly lighter for hover effect */
}
.sliderContainer {
  text-align: center;
  margin: 20px 0;
  padding: 0 10px; /* Add some padding for smaller screens */
}

.slider {
  -webkit-appearance: none; /* Remove default appearance on Safari and iOS */
  appearance: none; /* Remove default appearance on other browsers */
  width: 90%;
  max-width: 600px;
  margin: 5px auto;
  box-sizing: border-box;
  background: #333; /* Background color for the slider */
  height: 2px; /* Height of the slider track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Style for the slider thumb (the draggable circle) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb style on iOS */
  appearance: none; /* Remove default thumb style on other browsers */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('/logo.png') no-repeat center;
  background-size: contain;
  border: 2px solid #333; /* Thumb border color */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('/logo.png') no-repeat center;
  background-size: contain;
  border: 2px solid #333;
  cursor: pointer;
}

.createDrinkButton {
  background-color: #333; /* Adjust this to match the theme */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Same width as search fields */
}

.createDrinkButton:hover {
  background-color: #444; /* Hover effect */
}

.createAdrinkCard {
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #1e1e1e;
  color: #ffffff;
}
